{% extends 'basic/base.html' %}
{% block content_nav_home %}系统管理{% endblock %}
{% block content_nav %}
    <li>权限管理</li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <div class="froms" style="width: 100%;
        height: 80%;
        {#position:relative!important;#}
        background-color: rgba(255,255,255,0.3);
        padding: 10px 10px;
        z-index:0">
        <div style="z-index: 1;box-sizing: border-box">
            <table class="table table-bordered table-striped text-center bg-info" width="600" style="box-sizing: border-box;overflow: hidden;">
                <thead >
                <tr class="info">
                    <th class="text-center" style="">管理员ID</th>
                    <th class="text-center">管理员姓名</th>
                    <th class="text-center">密码</th>
                    <th class="text-center">邮箱</th>
                    <th class="text-center">电话</th>
                    <th class="text-center" width="200px">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.auth_string }}</td>
                        <td>{{ role.email }}</td>
                        <td>{{ role.phone }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                               onclick="edit({{ role.id }}, '{{ role.name }}', '{{ role.auth_string }}', '{{ role.email }}', '{{ role.phone }}')">编辑</a>
                            <a onclick="delete_role({{ role.id }}, '{{ role.name }}', '{{ role.auth_string }}', '{{ role.email }}', '{{ role.phone }}')" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
           </table>
        </div>

    </div>


    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>姓名 ：</span></label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>密码 ：</span></label>
                                <input type="text" name="auth_string"/>
                            </li>
                            <li>
                                <label><span>邮箱 ：</span></label>
                                <input type="text" name="email"/>
                            </li>
                            <li>
                                <label><span>电话 ：</span></label>
                                <input type="text" name="phone"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>ID ：</span></label>
                                <input id="edit_id" type="text" name="role_id"/>
                            </li>
                            <li>
                                <label><span>姓名 ：</span></label>
                                <input id="edit_name" type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>密码 ：</span></label>
                                <input id="edit_auth" type="text" name="auth_string"/>
                            </li>
                            <li>
                                <label><span>邮箱 ：</span></label>
                                <input id="edit_email" type="text" name="email"/>
                            </li>
                            <li>
                                <label><span>电话 ：</span></label>
                                <input id="edit_phone" type="text" name="phone"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11" data-dropback="false">
        <div class="modal-dialog" role="document" style="z-index: 9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer" style="z-index:9999;">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(id, name, auth_string, email, phone) {
            $('#edit_id').val(id);
            $('#edit_name').val(name);
            $('#edit_auth').val(auth_string);
            $('#edit_email').val(email);
            $('#edit_phone').val(phone);

            $('#edit').modal('show');
        }
        $('.modal-open').find('.modal-backdrop').remove();
        var role_id = 0;
        function delete_role(id, name) {
            role_id = id;
            $('#msg').html('是否删除 '+ name +" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + role_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}


