{% extends 'basic/base.html' %}
{% block content_nav_home %}文章管理{% endblock %}
{% block content_nav %}
    <li>文章管理</li>
{% endblock %}

{% block content %}
{#    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>#}
    <div class="froms" style="width: 100%;
        height: 80%;
        {#position:relative!important;#}
        background-color: rgba(255,255,255,0.3);
        padding: 10px 10px;
        z-index:0">
        <div style="z-index: 1;box-sizing: border-box">
            <table class="table table-bordered table-striped text-center bg-info" width="600" style="box-sizing: border-box;overflow: hidden;">
                <thead >
                <tr class="info">
                    <th class="text-center" style="">文章ID</th>
{#                    <th class="text-center">用户ID</th>#}
                    <th class="text-center">文章标题</th>
                    <th class="text-center">图片</th>
                    <th class="text-center">浏览量</th>
                    <th class="text-center">推送时间</th>
                    <th class="text-center" width="200px">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.article_id }}</td>
{#                        <td>{{ role.ud_id }}</td>#}
                        <td>{{ role.a_tltle }}</td>
                        <td><img style="height: 50px; width: 100px" src={{ role.a_image }}></td>
                        <td>{{ role.view_num }}</td>
                        <td>{{ role.create_time }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                               onclick="edit({{ role.article_id }}, '{{ role.a_title }}', '{{ role.a_image }}','{{ role.view_num }}', '{{ role.create_time }}')">编辑</a>
                            <a onclick="delete_role({{ role.article_id }}, '{{ role.a_title }}', '{{ role.a_image }}','{{ role.view_num }}', '{{ role.create_time }}')" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
           </table>
        </div>

    </div>


    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
{#                            <li>#}
{#                                <label><span>用户ID ：</span></label>#}
{#                                <input type="text" name="ud_id"/>#}
{#                            </li>#}
                            <li>
                                <label><span>标题 ：</span></label>
                                <input type="text" name="a_title"/>
                            </li>
                            <li>
                                <label><span>图片 ：</span></label>
                                <input type="text" name="a_image"/>
                            </li>
                            <li>
                                <label><span>浏览量 ：</span></label>
                                <input type="text" name="view_num"/>
                            </li>
                            <li>
                                <label><span>时间 ：</span></label>
                                <input type="datetime-local" name="create_time"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>文章ID ：</span></label>
                                <input id="edit_id" type="text" name="article_id"/>
                            </li>
{#                            <li>#}
{#                                <label><span>用户ID ：</span></label>#}
{#                                <input id="edit_ud_id" type="text" name="ud_id"/>#}
{#                            </li>#}
                            <li>
                                <label><span>标题 ：</span></label>
                                <input id="edit_title" type="text" name="a_title"/>
                            </li>
                            <li>
                                <label><span>图片 ：</span></label>
                                <input id="edit_image" type="text" name="a_image"/>
                            </li>
                            <li>
                                <label><span>浏览量 ：</span></label>
                                <input id="edit_num" type="text" name="view_num"/>
                            </li>
                            <li>
                                <label><span>时间 ：</span></label>
                                <input id="edit_time" type="datetime-local" name="create_time"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11" data-dropback="false">
        <div class="modal-dialog" role="document" style="z-index: 9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer" style="z-index:9999;">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(article_id, ud_id, a_title, a_image, view_num, create_time) {
            $('#edit_id').val(article_id);
            {#$('#edit_ud_id').val(ud_id);#}
            $('#edit_title').val(a_title);
            $('#edit_image').val(a_image);
            $('#edit_num').val(view_num);
            $('#edit_time').val(create_time);

            $('#edit').modal('show');
        }
        $('.modal-open').find('.modal-backdrop').remove();
        var role_id = 0;
        function delete_role(article_id, a_title) {
            role_id = article_id;
            $('#msg').html('是否删除 '+ a_title +" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + role_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}


