{% extends 'basic/base.html' %}
{% block content_nav_home %}订单管理{% endblock %}
{% block content_nav %}
    <li>订单管理</li>
{% endblock %}

{% block content %}
{#    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>#}
    <div class="froms" style="width: 100%;
        height: 80%;
        {#position:relative!important;#}
        background-color: rgba(255,255,255,0.3);
        padding: 10px 10px;
        z-index:0">
        <div style="z-index: 1;box-sizing: border-box">
            <table class="table table-bordered table-striped text-center bg-info" width="600" style="box-sizing: border-box;overflow: hidden;">
                <thead >
                <tr class="info">
                    <th class="text-center" style="">订单ID</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">支付时间</th>
                    <th class="text-center">完成时间</th>
                    <th class="text-center">支付状态</th>
                    <th class="text-center">申请退款时间</th>
                    <th class="text-center">退款时间</th>
                    <th class="text-center">是否评论</th>
                    <th class="text-center" width="200px">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.order_id }}</td>
                        <td>{{ role.get_time }}</td>
                        <td>{{ role.pay_time }}</td>
                        <td>{{ role.last_time }}</td>
                        <td>{{ role.status }}</td>
                        <td>{{ role.no_need }}</td>
                        <td>{{ role.return_money_time }}</td>
                        <td>{{ role.is_talk }}</td>
                        <td>
{#                            <a href="#" class="btn btn-info btn-sm" data-toggle="modal"#}
{#                               onclick="edit({{ role.order_id }},'{{ role.get_time }}', '{{ role.pay_time }}', '{{ role.last_time }}', '{{ role.status }}', '{{ role.return_money_time }}', '{{ role.is_talk }}')">编辑</a>#}
                            <a onclick="delete_role({{ role.order_id }},'{{ role.get_time }}', '{{ role.pay_time }}', '{{ role.last_time }}', '{{ role.status }}', '{{ role.return_money_time }}', '{{ role.is_talk }}')" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
           </table>
        {% include 'basic/page.html' %}
        </div>

    </div>


    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>用户ID ：</span></label>
                                <input type="text" name="ud_id"/>
                            </li>
                            <li>
                                <label><span>名称 ：</span></label>
                                <input type="text" name="ticket_name"/>
                            </li>
                            <li>
                                <label><span>面额 ：</span></label>
                                <input type="text" name="ticket_account"/>
                            </li>
                            <li>
                                <label><span>功能 ：</span></label>
                                <input type="text" name="ticket_desc"/>
                            </li>
                            <li>
                                <label><span>状态 ：</span></label>
                                <input type="text" name="is_use"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>订单ID ：</span></label>
                                <input id="edit_id" type="text" name="order_id"/>
                            </li>
                            <li>
                                <label><span>创建时间 ：</span></label>
                                <input id="edit_get" type="datetime-local" name="get_time"/>
                            </li>
                            <li>
                                <label><span>支付时间 ：</span></label>
                                <input id="edit_pay" type="datetime-local" name="pay_time"/>
                            </li>
                            <li>
                                <label><span>完成时间 ：</span></label>
                                <input id="edit_last" type="datetime-local" name="last_time"/>
                            </li>
                            <li>
                                <label><span>状态 ：</span></label>
                                <input id="edit_status" type="text" name="status"/>
                            </li>
                            <li>
                                <label><span>申请退款时间 ：</span></label>
                                <input id="edit_need" type="datetime-local" name="no_need"/>
                            </li>
                            <li>
                                <label><span>退款时间 ：</span></label>
                                <input id="edit_return" type="datetime-local" name="return_money_time"/>
                            </li>
                            <li>
                                <label><span>是否评论 ：</span></label>
                                <input id="edit_talk" type="text" name="is_talk"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11" data-dropback="false">
        <div class="modal-dialog" role="document" style="z-index: 9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer" style="z-index:9999;">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        function edit(order_id, get_time, pay_time, last_time, status, no_need, return_money_time, is_talk) {
            $('#edit_id').val(order_id);
            $('#edit_get').val(get_time);
            $('#edit_pay').val(pay_time);
            $('#edit_last').val(last_time);
            $('#edit_status').val(status);
            $('#edit_need').val(no_need);
            $('#edit_return').val(return_money_time);
            $('#edit_talk').val(is_talk);

            $('#edit').modal('show');
        }
        $('.modal-open').find('.modal-backdrop').remove();
        var role_id = 0;
        function delete_role(order_id,  ){
            role_id = order_id;
            $('#msg').html('是否删除 '+ order_id +" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + role_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}


