{% extends 'basic/base.html' %}
{% block content_nav_home %}景点管理{% endblock %}
{% block content_nav %}
    <li>景点信息</li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <div class="froms" style="width: 100%;
        height: 80%;
        {#position:relative!important;#}
        background-color: rgba(255,255,255,0.3);
        padding: 10px 10px;
        z-index:0">
        <div style="z-index: 1;box-sizing: border-box">
            <table class="table table-bordered table-striped text-center bg-info" width="600" style="box-sizing: border-box;overflow: hidden;">
                <thead >
                <tr class="info">
                    <th class="text-center" style="">景点ID</th>
                    <th class="text-center">景点名</th>
                    <th class="text-center">价格</th>
                    <th class="text-center">景点描述</th>
                    <th class="text-center" >图片</th>
                    <th class="text-center">旅行方式</th>
                    <th class="text-center" >钻石数</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.v_id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.price }}</td>
                        <td>{{ role.v_desc }}</td>
                        <td><img style="height: 50px; width: 100px" src={{ role.v_pic }}></td>
                        <td>{{ role.travel_way }}</td>
                        <td>{{ role.diamonds }}</td>

                        <td>
                            <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                               onclick="edit({{ role.v_id }}, '{{ role.name }}', '{{ role.price }}','{{ role.v_desc }}','{{ role.v_pic }}', '{{ role.travel_way }}', '{{ role.diamonds }}')">编辑</a>
                            <a onclick="delete_role({{ role.v_id }}, '{{ role.name }}', '{{ role.price }}','{{ role.v_desc }}','{{ role.v_pic }}', '{{ role.travel_way }}', '{{ role.diamonds }}')" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
           </table>
        </div>

    </div>


    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>景点名 ：</span></label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>价格 ：</span></label>
                                <input type="text" name="price"/>
                            </li>
                            <li>
                                <label><span>描述 ：</span></label>
                                <input type="text" name="v_desc"/>
                            </li>
                            <li>
                                <label><span>图片 ：</span></label>
                                <input type="text" name="v_pic"/>
                            </li>
                            <li>
                                <label><span>旅行方式 ：</span></label>
                                <input type="text" name="travel_way"/>
                            </li>
                            <li>
                                <label><span>钻石数 ：</span></label>
                                <input type="text" name="diamonds"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>景点ID ：</span></label>
                                <input id="edit_id" type="text" name="id"/>
                            </li>
                            <li>
                                <label><span>景点名 ：</span></label>
                                <input id="edit_name" type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>价格 ：</span></label>
                                <input id="edit_price" type="text" name="price"/>
                            </li>
                            <li>
                                <label><span>描述 ：</span></label>
                                <input id="edit_v_desc" type="text" name="v_desc"/>
                            </li>
                            <li>
                                <label><span>图片 ：</span></label>
                                <input id="edit_v_pic" type="text" name="v_pic"/>
                            </li>
                            <li>
                                <label><span>旅行方式 ：</span></label>
                                <input id="edit_travel" type="text" name="travel_way"/>
                            </li>
                            <li>
                                <label><span>钻石数 ：</span></label>
                                <input id="edit_diamonds" type="text" name="diamonds"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="z-index:9999;">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11" data-dropback="false">
        <div class="modal-dialog" role="document" style="z-index: 9999">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer" style="z-index:9999;">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(v_id, name, price, v_desc, v_pic, travel_way, diamonds) {
            $('#edit_id').val(v_id);
            $('#edit_name').val(name);
            $('#edit_price').val(price);
            $('#edit_v_desc').val(v_desc);
            $('#edit_v_pic').val(v_pic);
            $('#edit_travel').val(travel_way);
            $('#edit_diamonds').val(diamonds);

            $('#edit').modal('show');
        }
        $('.modal-open').find('.modal-backdrop').remove();
        var role_id = 0;
        function delete_role(v_id, name) {
            role_id = v_id;
            $('#msg').html('是否删除 '+ name+" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + role_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}


