<div class="col-xs-2  bg-blue">
    <br/>
    <div class="panel-group sidebar-menu" id="accordion" aria-multiselectable="true">
        <div class="panel panel-default menu-first menu-first-active">
            <a data-toggle="collapse" data-parent="#accordion" href="index.html" aria-expanded="true"
               aria-controls="collapseOne">
                <i class="icon-home icon-large"></i> 主页
            </a>
        </div>
        {% if request.session.login_user.role_code == 'admin' %}
            <div class="panel panel-default menu-first">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
               aria-controls="collapseOne">
                <i class="icon-user-md icon-large"></i> 系统管理</a>
            </a>

            <div id="collapseOne" class="panel-collapse collapse ">
                <ul class="nav nav-list menu-second">
                    <li><a href="/role/"><i class="icon-user"></i> 角色管理</a></li>
                    <li><a href="/user/"><i class="icon-edit"></i> 用户管理</a></li>
                    <li><a href="/authority/"><i class="icon-trash"></i>朋友圈管理</a></li>
                    <li><a href="/caidan/"><i class="icon-list"></i> 旅客管理</a></li>
                    <li><a href="/xttz/"><i class="icon-list"></i> 系统通知</a></li>
                </ul>
            </div>
            </div>
        {% endif %}
        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
               aria-expanded="false" aria-controls="collapseTwo">
                <i class="icon-coffee icon-large"></i> 景点管理</a>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/info/"><i class="icon-user"></i> 景点信息</a></li>
                    <li><a href="/pl/"><i class="icon-edit"></i> 景点评论</a></li>
{#                    <li><a href="/tj/"><i class="icon-trash"></i> 推荐管理</a></li>#}
{#                    <li><a href="/zsfj/"><i class="icon-list"></i> 周三放价</a></li>#}
                </ul>
            </div>
        </div>
        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
               aria-expanded="false" aria-controls="collapseThree">
                <i class="icon-camera icon-large"></i> 文章管理</a>
            </a>

            <div id="collapseThree" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/wzgl/"><i class="icon-user"></i> 文章管理</a></li>
                    <li><a href="/lunbt/"><i class="icon-edit"></i> 轮播图管理</a></li>

                </ul>
            </div>
        </div>

         <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
               aria-expanded="false" aria-controls="collapseFour">
                <i class="icon-calendar icon-large"></i>&nbsp;&nbsp;统计信息</a>
            </a>

            <div id="collapseFour" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/user_count/"><i class="icon-user"></i> 用户统计</a></li>
                    <li><a href="/view_count/"><i class="icon-edit"></i> 旅客统计</a></li>
                    <li><a href="/order_count/"><i class="icon-trash"></i> 订单统计</a></li>
                </ul>
            </div>
        </div>

         <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
               aria-expanded="false" aria-controls="collapseFive">
                <i class="icon-lightbulb icon-large"></i> 订单管理</a>
            </a>

            <div id="collapseFive" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="/order/"><i class="icon-user"></i> 订单信息</a></li>
                    <li><a href="/yhquan/"><i class="icon-edit"></i> 优惠券</a></li>
                    <li><a href="/jifen/"><i class="icon-trash"></i> 积分管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>